@import  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(209, 213, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.head{
   background-color:rgb(47, 167, 23) ;
   width: 100%;
   height: 50px;
   text-align: center;
   color: white;
   font-size: 13px;
}
.logo{
    width: 150px;
    border-radius: 10px;
    margin-top: 5px;
}

.image_games{
    border-radius: 15px;
    
}
.body_games{
   padding: 10px 10px ;
   flex: 1;
   
}
.search{
    margin: 10px auto;
    text-align: center;
}
.search_input{
    width: 50%;
     padding: 5px;
    color: green;
     border-radius: 5px; 
    border-style: none;
    background-color: rgb(229, 230, 229);
    font-weight: 700;
}
input:focus{
    background-color: rgb(204, 204, 204);
}
.games{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.game1{
    width: 100px;
    padding: 5px;
    transition: 0.50s;
    border-radius: 5px;  
   
}
.game1:hover{
    width: 100px;
    padding: 5px;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
}
.name{
    text-align: center;
    color: rgb(6, 112, 6);
    font-weight: 700;
}
a:link{
    text-decoration: none;
}
.foot{
    width: 100%;
    background-color: rgb(35, 53, 27);
   color: white;
   text-align: center;
  padding: 10px 0;
   
} 
.facebook{
    color: white;
}
.gmail{
    color: white;
}
.instgram{
    color: white;
}
.facebook:hover{
    color: rgb(67, 94, 170);
}
.gmail:hover{
    color: rgb(67, 94, 170);
}
.instgram:hover{
    color: rgb(67, 94, 170);
}
.comment{
    margin-left: 10px;
    margin-top: 100px;
    
}
.but2{
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    color: rgb(21, 10, 71);
    font-weight: 700;
    transition: 0.50s;
}
.but2:hover{
    background-color: rgb(138, 204, 40);
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    color: rgb(21, 10, 71);
    font-weight: 700;

}
.comment_input{
    width: 40%;
    
     padding: 5px;
    color: rgb(12, 6, 116);
     border-radius: 5px; 
    border-style: none;
    background-color: rgb(229, 230, 229);
    font-weight: 700;
}
.ad{
    width: 160px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-top: 35%;
    color: rgb(131, 131, 131);
}
.flt{
   display: flex;
}
.game_name{
   text-align: center;
   margin: auto;
   font-size:25px ;
   font-weight: 700;
}
.but4{
    width:40px ;
    height:40px ;
   background: rgb(23, 255, 2);
   border: 1px  solid black;
   border-radius: 100%;
   margin-top: 5px;
   margin-right:10px;
   transition: 1s;
}
.but4:hover{
    width:40px ;
    height:40px ;
   background: rgb(18, 187, 3);
   border: 1px  solid black;
   border-radius: 100%;
   margin-top: 5px;
   margin-right:10px;
}
.table1{ 
    text-align: center;
    width:300px ;
    border: 2px solid rgb(9, 20, 179);
    margin: auto;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 2px;
    margin-top:10px;
}

td{
    border: 2px solid rgb(5, 136, 0);
    background-color:rgb(7, 185, 1) ;
    border-radius: 10px;
    padding: 2px;
}
th{
    border: 2px solid rgb(5, 136, 0);
    background-color:rgb(7, 185, 1) ;
    color: rgb(255, 187, 0);
    border-radius: 10px;
    padding: 2px;
}
.table2{
    text-align: center;
    width:200px ;
    border: 2px solid rgb(9, 20, 179);
    margin: auto;
    background-color: blue;
    color:white;
    border-radius: 10px;
    padding: 2px;
    width:300px ;
}
.gamesss{
    margin-top: 25px;
    padding: 2px;
    
}
.name_game{
    width: 200px;
    background-color: rgb(204, 204, 204);
    text-align: center;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
 .img_game2{
    width: 200px;
    border-radius: 30px;
} 
.name_game5{
    font-size:20px ;
    font-weight: 700;
    color: blue;
}
.link_game{
   width:150px ;
   height: 25px;
   padding: 5px;
   border-radius: 10px;
   background-color: rgb(49, 180, 23);
   font-weight: 700;
   display: block;
   color: rgb(159, 255, 121);
   margin: auto;
}
h3{
    color: green;
    background-color: rgb(191, 255, 188);
    border-left: 6px solid blue;
}
.Description{
    background-color:rgb(81, 199, 65) ;
    padding: 5px;
    border-radius: 10px;
    margin-top: 25px;

}
.text{
    color: blue;
    font-weight: 600;
}
.photo_games{
    background-color:rgb(81, 199, 65) ;
    padding: 5px;
    border-radius: 10px;
    margin-top: 25px;
    height: 100%;
    width: 320px;
    margin: auto;
}
 .photo{
    display: block;
    width: 99%;
    margin-left: 5px;
    margin-top: 15px;
    height: 150px;
    box-sizing: border-box;
} 
h5{
    color: #2bff00;
}
.all{
    color: rgb(15, 182, 0);
}
.facebook{
    margin-left: -12px;
    
}
.instgram{
    margin-left: 10px;
}
.gmail{
    margin-left: 7px;
}
.game1.hidden {
    display: none;
}
.color_green{
    color: greenyellow;
    font-weight: 700;
}
.color_red{
    color: rgb(160, 0, 0);
    font-weight: 700;
}
.adn{
    background-color: #C3FF00;
    border-radius:10px ;
    border: 1px solid #28AF08;
    margin: auto;
    text-align:center ;
    padding: 5px;
    color: #438500;
    margin-left: auto;
}
